body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

nav {
  background-color: #ff6347;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background-color: #ff7f50;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10% 0% 10% 0%;
}

.container img {
  max-width: 20%;
  height: auto;
  background-color: #ffeb3b; /* Background color for the image */
  padding: 3% 3% 4% 9%;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.container p {
  max-width: 600px;
  text-align: center;
  margin-top: 1rem;
  color: #333;
}
