body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #f8d7da;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f4cac4;
  padding: 10px;
}

.nav-links a {
  background-color: #8c78cc;
  padding: 10px;
  margin: 20px 20px 20px;
  text-align: center;
  color: black;
  width: 20%;
  border-radius: 20%;
  border: 1px solid black;
}
.nav-logo img {
  width: 20%;
  height: auto;
  padding: 0%;
  margin: 0%;
}

.input-section {
  display: flex;
  justify-content: space-around;
  background-color: #c3a2d6;
  padding: 10px;
  margin-top: 10px;
}

.input-section input,
.input-section button {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.input-section button {
  background-color: #8be88b;
  border-radius: 20%;
  width: 7%;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  background-color: white;
  margin-top: 10px;
}

.data,
.image {
  background-color: #dbc06d;
  padding: 5%;
  text-align: center;
}

.image img {
  width: 30%;
  height: fit-content;
}
